<a href="https://colab.research.google.com/github/KALPA2345/multiple_regression/blob/master/multireg2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Multiple Regression**

In [0]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df= pd.read_csv('multiple regressiont.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
df.bedrooms.median()

3.5

In [6]:
import math
median_bedroom= math.floor(df.bedrooms.median())
median_bedroom

3

In [0]:
df.bedrooms=df.bedrooms.fillna(median_bedroom)

In [12]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [17]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [19]:
reg.intercept_

383724.99999999994

In [24]:
reg.predict([[3000,3,40]])

array([444400.])