<a href="https://colab.research.google.com/github/KALPA2345/multiple_regression/blob/master/Train_test_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn import model_selection

In [4]:
df= pd.read_csv('train_test_split.csv')
df.head()

   mileage  age(yrs)  sellprice($)
0    69000         6         18000
1    35000         3         34000
2    57000         5         26100
3    22500         2         40000
4    46000         4         31500

In [0]:
x_train,x_test,y_train,y_test= model_selection.train_test_split(df[['mileage','age(yrs)']],df['sellprice($)'],test_size=0.2)

In [29]:
y_train

2    26100
3    40000
5    26750
7    19300
8    12000
1    34000
6    32000
4    31500
Name: sellprice($), dtype: int64

In [36]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
clf.predict(x_test)

array([21639.08441884, 23397.48872745])